.main {
    margin-top: 1%;
    scroll-behavior: smooth;
}

.black-scholes {
    width: 50%;
    margin-right: 1%;
}

.binomial {
    width: 50%;
    margin-left: 1%;
}

#calculators {
    display: flex;
}
